<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Hub</title>
    <link rel="stylesheet" href="csss/health.css">
</head>
<body style="background-image: url('images/back3.jpeg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <header>
        <div class="main">
            <dir class="logo">
                <img src="images/hhlo.png" >
            </dir>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/cart">Shop</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/aboutus">About Us</a></li>
            </ul>
           
        </div>
        <div class="title">
            <h1>Welcome To HealthHub</h1>
        </div>
        <div class="button">
            <a href="#" class="btn">Learn More</a>
        </div>
    </header>
 
</body>
</html>